<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BingMapsRESTToolkit" version="1.1.4" targetFramework="net461" />
  <package id="BingMapsSDSToolkit" version="1.0.5" targetFramework="net461" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.2.4" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net461" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="net461" />
  <package id="Microsoft.Maps.MapControl.WPF" version="1.0.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="RestSharp" version="106.5.4" targetFramework="net461" />
  <package id="RestSharp.Newtonsoft.Json" version="1.5.1" targetFramework="net461" />
</packages>